
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #000000;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-family: "Open Sans", sans-serif;
	font-weight: 200;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0;
}

iframe {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#glass {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	display:inline-block;
}

#titlewrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	color: #fff;
	display:inline-block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

#title:hover {
	cursor: pointer;
}

.top-icon {
	cursor: pointer;
	opacity: 1;
	position: absolute;
	display: inline-block;
	top: 10px;
}

.top-icon:hover {
	cursor: pointer;
}

#home-icon {
	left: 10px;
}

#channel-icon {
	left: 60px;
}

#info-icon {
	left: 115px;
}

#heart-icon {
	left: 160px;
}

#mail-icon {
	left: 210px;
}

#search-icon {
	left: 260px;
	display: none;
}


/* SLIDE OUT MENU */

.channel-menu-push {
	position: relative;
	overflow-x: hidden;
	left: 0;
}

#channel-menu {
	background: white;
	position: fixed;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	overflow: auto;
}

#channel-menu h3 {
	font-size: 1.5em;
	padding: 1em;
	margin: 0;
	font-weight: 300;
	background: #E6E6E6;
	border-bottom: 1px solid #999999;
}

#channel-menu a {
	display: block;
	border-bottom: 1px solid #999999;
	padding: 1em;
	text-decoration: none;
	color: black;
}

#channel-menu a:hover {
	background: #E6E6E6;
	cursor: pointer;
}

#channel-menu a:active {
	color: white;
	background: #0d77b6;
}

.channel-menu-vertical {
	width: 200px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.channel-menu-left {
	left: -200px;
}

.channel-menu-left.channel-menu-open {
	left: 0px;
}

.channel-menu-push-toright {
	left: 200px;
}

.channel-menu,
.channel-menu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* END OF SLIDE OUT MENU */



#about {
	width: 320px;
	height: 350px;
	text-align: center;
	background: white;
	margin: auto;
	z-index: 10;
 	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
 	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	display: none;
}

#about-header {
	width: 100%;
	height: 15%;
	background: #E6E6E6;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#about-header div {
	margin: 0;
	position: absolute;
	top: 17px; left: 0; bottom: 0; right: 0;
	text-align: center;
}

#about-header i {
	float: right;
	color: #999999;
	padding-right: 10px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#about-header i:hover {
	color: #808080;
	cursor: pointer;
}

#about-info {
	height: 85%;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.about-control {
	padding: 0 0 5px 0;
	margin: 0;
	clear: both;
	border-bottom: 1px solid #E6E6E6;
	width: 100%;
	height: 21px;
}

.about-label {
	width: 50%;
	margin: 0;
	padding-top: 2px;
}

#key-label {
	float: left;
}

#function-label {
	float: right;
}

#fbdiv {
	position: absolute;
	color: #fff;
	display:inline-block;
	top: 5px;
	right: 5px;
}

img {
	border-radius: 10px;
}


#channels {
	position: absolute;
	display:inline-block;
	left: 5px;
	bottom: 5px;
	color: #fff;
}

#currchannel {
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

.arrow {
	width: 8%;
	height: 12%;
	position: absolute;
	top: 50%;
	display: block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0.0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.arrow:hover {
	cursor: pointer;
	opacity: 1 !important;
	background-size: 110% 110%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.arrowLeft {
	left: 5px;
}

.arrowRight {
	right: 5px;
}

/*.image {
	width: 8%;
	height: 12%;
	position: absolute;
	top: 50%;
	display: block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0.0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.imageLeft {
	left: 0px;
}

.imageRight {
	right: 0px;
}

.image:hover {
	cursor: pointer;
	opacity: 1.0;
	background-size: 110% 110%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}*/

#timebar {
	opacity: 0.75;
	position: absolute;
	background-color: #fff;
	width: 0%;
	height: 5px;
    display:inline-block;
    left: 0px;
	bottom: 0px;
	-webkit-box-shadow: 0 0 10px 0 #000;
	box-shadow: 0 0 10px 0 #000;
}


#curr {
	display: none;
}

#next {
	display: none;
}

#prev {
	display: none;
}

#bowlG{
	position: absolute;
	top:50%;
	display:inline-block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

	width:64px;
	height:64px;
}

#bowl_ringG{
	position:absolute;
	width:64px;
	height:64px;
	border:6px solid #FFFFFF;
	-moz-border-radius:64px;
	-webkit-border-radius:64px;
	-ms-border-radius:64px;
	-o-border-radius:64px;
	border-radius:64px;
}

.ball_holderG{
	position:absolute;
	width:17px;
	height:64px;
	left:23px;
	top:0px;
	-moz-animation-name:ball_moveG;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-webkit-animation-name:ball_moveG;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-ms-animation-name:ball_moveG;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-timing-function:linear;
	-o-animation-name:ball_moveG;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-timing-function:linear;
	animation-name:ball_moveG;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.ballG{
	position:absolute;
	left:0px;
	top:-15px;
	width:26px;
	height:26px;
	background:#FFFFFF;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	-ms-border-radius:21px;
	-o-border-radius:21px;
	border-radius:21px;
}

@-moz-keyframes ball_moveG{
	0%{
		-moz-transform:rotate(0deg)
	}
	100%{
		-moz-transform:rotate(360deg)
	}
}

@-webkit-keyframes ball_moveG{
	0%{
		-webkit-transform:rotate(0deg)
	}

	100%{
		-webkit-transform:rotate(360deg)
	}

}

@-ms-keyframes ball_moveG{
	0%{
		-ms-transform:rotate(0deg)
	}
	100%{
		-ms-transform:rotate(360deg)
	}
}

@-o-keyframes ball_moveG{
	0%{
		-o-transform:rotate(0deg)
	}
	100%{
		-o-transform:rotate(360deg)
	}
}

@keyframes ball_moveG{
	0%{
		transform:rotate(0deg)
	}

	100%{
		transform:rotate(360deg)
	}
}
