html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #000000;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-family: "Open Sans", sans-serif;
	font-weight: 200;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

iframe {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#glass {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	display:inline-block;
}

#titlewrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	color: #fff;
	display:inline-block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

#title:hover {
	cursor: pointer;
}

#channels {
	position: absolute;
	display:inline-block;
	left: 5px;
	bottom: 5px;
	color: #fff;
}

#currchannel {
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

.arrow {
	width: 8%;
	height: 12%;
	position: fixed;
	top: 50%;
	display: block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0.0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.arrow:hover {
	cursor: pointer;
	opacity: 0.5;
}

.arrowLeft {
	background-image: url("/res/arrowLeft.png");
	left: 0px;
}

.arrowRight {
	background-image: url("/res/arrowRight.png");
	right: 0px;
}

#timebar {
	opacity: 0.75;
	position: absolute;
	background-color: #fff;
	width: 0%;
	height: 5px;
    display:inline-block;
    left: 0px;
	bottom: 0px;
	-webkit-box-shadow: 0 0 10px 0 #000;
	box-shadow: 0 0 10px 0 #000;
}


#curr {
	display: none;
}

#next {
	display: none;
}

#prev {
	display: none;
}
