

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #000000;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	font-family: "Open Sans", sans-serif;
	font-weight: 200;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

iframe {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#glass {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	display:inline-block;
}

#titlewrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	color: #fff;
	display:inline-block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

#title:hover {
	cursor: pointer;
}

#info-icon {
	opacity: 0.75;
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
}

#fbdiv {
	position: absolute;
	color: #fff;
	display:inline-block;
	top: 5px;
	right: 5px;
}
img{
	border-radius: 10px;
}


#channels {
	position: absolute;
	display:inline-block;
	left: 5px;
	bottom: 5px;
	color: #fff;
}

#currchannel {
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

.arrow {
	width: 8%;
	height: 12%;
	position: fixed;
	top: 50%;
	display: block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0.0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.arrow:hover {
	cursor: pointer;
	opacity: 0.75;
}

.arrowLeft {
	background-image: url("/res/arrowLeft.png");
	left: 0px;
}

.arrowRight {
	background-image: url("/res/arrowRight.png");
	right: 0px;
}

#timebar {
	opacity: 0.75;
	position: absolute;
	background-color: #fff;
	width: 0%;
	height: 5px;
    display:inline-block;
    left: 0px;
	bottom: 0px;
	-webkit-box-shadow: 0 0 10px 0 #000;
	box-shadow: 0 0 10px 0 #000;
}


#curr {
	display: none;
}

#next {
	display: none;
}

#prev {
	display: none;
}






#bowlG{
	position: absolute;
	top:50%;
	display:inline-block;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

	width:64px;
	height:64px;
}

#bowl_ringG{
	position:absolute;
	width:64px;
	height:64px;
	border:6px solid #FFFFFF;
	-moz-border-radius:64px;
	-webkit-border-radius:64px;
	-ms-border-radius:64px;
	-o-border-radius:64px;
	border-radius:64px;
}

.ball_holderG{
	position:absolute;
	width:17px;
	height:64px;
	left:23px;
	top:0px;
	-moz-animation-name:ball_moveG;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-webkit-animation-name:ball_moveG;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-ms-animation-name:ball_moveG;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-timing-function:linear;
	-o-animation-name:ball_moveG;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-timing-function:linear;
	animation-name:ball_moveG;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.ballG{
	position:absolute;
	left:0px;
	top:-15px;
	width:26px;
	height:26px;
	background:#FFFFFF;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	-ms-border-radius:21px;
	-o-border-radius:21px;
	border-radius:21px;
}

@-moz-keyframes ball_moveG{
0%{
-moz-transform:rotate(0deg)}

100%{
-moz-transform:rotate(360deg)}

}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(0deg)}

100%{
-webkit-transform:rotate(360deg)}

}

@-ms-keyframes ball_moveG{
0%{
-ms-transform:rotate(0deg)}

100%{
-ms-transform:rotate(360deg)}

}

@-o-keyframes ball_moveG{
0%{
-o-transform:rotate(0deg)}

100%{
-o-transform:rotate(360deg)}

}

@keyframes ball_moveG{
0%{
transform:rotate(0deg)}

100%{
transform:rotate(360deg)}

}